<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/loginnav.ejs'); %>
        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-4">
                <%= title %>
            </h1>
            <button type="button" class="btn btn-primary btn-lg mb-4"><a href="<%= signupUrl %>" class="text-white">Sign
                    up</a></button>
            <button type="button" class="btn btn-secondary btn-lg"><a href="<%= loginUrl %>" class="text-white">Log
                    in</a></button>

        </div>







        <%- include('partials/footer.ejs'); %>

</body>

</html>