<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs'); %>
        <br>
        Welcome <%= x %>!
            <br>
            <img src="<%= y %>" />


            <% if (isAdmin) { %>
                <h2> Only admins can see this </h2>



                <ul>
                    <% users.forEach(function(user){ %>
                        <li>
                            <ul>
                                <li>
                                    <%= user.username %>
                                </li>
                                <li>
                                    <%= user?.type %>
                                </li>
                                <li>
                                    <form action="/promoteToAdmin" method="POST">
                                        <input type="hidden" name="username" value="<%= user.username %>">
                                        <input type="submit" value="Promote to admin">

                                    </form>
                                </li>

                                <li>
                                    <form action="/demoteToUser" method="POST">
                                        <input type="hidden" name="username" value="<%= user.username %>">
                                        <input type="submit" value="Deomote to user">

                                    </form>
                                </li>
                        </li>
                </ul>
                </li>
                <% }); %>
                    </ul>
                    <% } %>


                        <%- include('partials/footer.ejs'); %>
                            <!-- <br>
                            <a href="<%= z %>">Log Out</a> -->
</body>

</html>