<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs'); %>
        <br>
        Welcome <%= x %>!
            <br>
            <div class="container">
                <div class="row">
                  <% for (let i=0; i < 3; i++) { %>
                  <div class="col-sm-4">
                    <img src="<%= y[i] %>" class="img-fluid">
                  </div>
                  <% } %>
                </div>
              </div>
              
              
           
            
           
            
            
              
              

          

            <!-- <img src="<%= y %>" /> -->



            <a class="nav-item nav-link" href="<%= z %>">Log Out</a>


            <%- include('partials/footer.ejs'); %>


</body>

</html>